<!-- rango/categories.html -->

<ul>
    {% if categories %}
        {% for c in categories %}
            <li>
                {% if c.slug %}
                    {% if c == current_category %}
                        <strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></strong>
                    {% else %}
                        <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                    {% endif %}
                {% else %}
                    {{ c.name }} (No slug available)
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>

